* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgb(239, 8, 170), rgb(243, 6, 6));
    min-height: 99vh;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
}

.header {
    border-bottom: 2px solid rgb(255, 255, 255);
    height: 80px;
}

.header__container{
    max-width: 1920px;
    width: 1010px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
}

.logo{
    font-size: 24px;
    margin-top: 20px;
}

.header__menu{
    display: flex;
    list-style-type: none;
    padding-right: 50px;
    margin-top: 20px;
}
.menu__item{
    margin-right: 20px;
}
.menu__item:hover{
    border-bottom: 1px solid rgb(232, 180, 9);
    color: rgb(176, 108, 6);
    transition: 500ms;
}

.main{
    max-width: 1920px;
    width: 1010px;
    margin: 0 auto;
}

.contacts{
    border: 2px solid rgb(236, 159, 18);
    margin-top: 40px;
    border-radius: 20px;
    padding: 30px;
    width: 400px;
    max-height: 400px;
}
.contacts:nth-child(2){
    transform: translateY(50%);
}
.main__container{
    display: flex;
    justify-content: space-between;
    border: 2px solid white;
    min-height: 900px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
}

/* @ben228366 *

